<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>所有订单</title>
</head>
<body>
<table>
  <tr th:each="changeorder : ${orders}">
    <td  th:text="'orderId:' + ${changeorder.orderId} "></td>
    <td  th:text="'goodId:' + ${changeorder.goodId} "></td>
    <td  th:text="'preWarehouseId:' + ${changeorder.preWarehouseId} "></td>
    <td  th:text="'nextWarehouseId:' + ${changeorder.nextWarehouseId} "></td>
    <td  th:text="'type:' + ${changeorder.type} "></td>
    <td  th:text="'state:' + ${changeorder.state} "></td>
  </tr>
</table>
</body>
</html>