<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>所有用户</title>
</head>
<body>
<table>
  <tr th:each="user : ${users}">
    <td  th:text="'username:' + ${user.username} "></td>
    <td  th:text="'passwowrd:' + ${user.password} "></td>
  </tr>
</table>

 <form action="/login/users/adduser" method="post">
    username:<input type="text" name = "username" ><p> 
    password:<input type="password" name = "password" ><p>
    position:<input type="text" name = "position" ><p>
    <input type="submit" value="添加"> 
  </form>
  
 
</body>
</html>