<!DOCTYPE html>
<html>
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>登录</title>
 </head>
 <body>
  <div class="text" style=" text-align:center;">
  <h1>登录界面</h1>
    
  <form action="login" method="post">
    username:<input type="text" name = "username" ><p> 
    password:<input type="password" name = "password" ><p>
    position:<input type="text" name = "position" ><p>
    <input type="submit" value="登录"> 
  </form>
  
  <form action="inorder/addinorder" method="post">
    orderId: <input type="text" name = "orderId" ><p> 
    goodId:<input type="text" name = "goodId" ><p>
    nextWarehouseId:<input type="text" name = "nextWarehouseId" ><p>
    type:<input type="text" name = "type" ><p>
    state:<input type="text" name = "state" ><p>
    <input type="submit" value="添加"> 
  </form>
  
  <a href="/allwarehouse">allwarehouse</a>
   
  </div>
 </body>
 </html>