
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{/images/apple-icon.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{/images/favicon.png}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>manager_user</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link th:href="@{/css/animate.min.css}" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link th:href="@{/css/paper-dashboard.css}" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link th:href="@{/css/demo.css}" rel="stylesheet" />

    <!--  Fonts and icons     -->
    <!--  
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    -->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/themify-icons.css}" rel="stylesheet">
    
    <script src="js/jquery.min.js"></script>

<script th:inline="javascript"> 
    var message = [[${message}]];
    if(message){
    	alert(message)
    }
    
</script>
</head>
<body>

<div class="wrapper">
	<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a class="simple-text">
                                                           智能仓库管理系统 (iws)
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/iws/manager/total">
                        <i class="ti-text"></i>
                        <p>总计</p>
                    </a>
                </li>
                
                <li class="active">
                    <a href="/iws/manager/user">
                        <i class="ti-user"></i>
                        <p>账户</p>
                    </a>
                </li>
                <li>
                    <a href="dashboard.html">
                        <i class="ti-panel"></i>
                        <p>货物</p>
                    </a>
                </li>
                <li>
                    <a href="maps.html">
                        <i class="ti-map"></i>
                        <p>仓库</p>
                    </a>
                </li>
                <li >
<!--  
                    <a href="table.html">
-->
                    <a href="/iws/manager/order">
                        <i class="ti-view-list-alt"></i>
                        <p>订单</p>
                    </a>
                </li>
                
                
                
                <li>
                    <a href="notifications.html">
                        <i class="ti-bell"></i>
                        <p>告警</p>
                    </a>
                </li>
				<li class="active-pro">
                    <a href="upgrade.html">
                        <i class="ti-export"></i>
                        <p>退出</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
<!--  
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    -->
                    <a class="navbar-brand" >用户</a>
                </div>
                <!-- 
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p>Stats</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                    <p class="notification">5</p>
									<p>Notifications</p>
									<b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
						<li>
                            <a href="#">
								<i class="ti-settings"></i>
								<p>Settings</p>
                            </a>
                        </li>
                    </ul>

                </div>
-->
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                 <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h5 class="title">所有账户</h5>
                                <a href="/iws/manager/user/add_html">
                                  <button>添加用户</button>
                                </a>
                                <!-- 
                                <p class="category">Here is a subtitle for this table</p>
                                 -->
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped" style="font-size:12px;">
                                    <thead>
                                    <tr>
                                        <th>账号</th>
                                    	<th>密码</th>
                                    	<th>职务</th>
                                    	<th>邮箱</th>
                                    </tr>	
                                    </thead>
                                    <tbody>
                                        <tr th:each="user : ${users}">
                                        	<td  th:text="${user.username} "></td>
                                            <td  th:text=" ${user.password} "></td>
                                            <td  th:text="${user.position} "></td>
                                            <td  th:text="${user.email} "></td>
                                             <!-- 
                                            <td><a href="/order/goods?orderId='+${outorder.orderId}+'" >货物</a></td>
                                            -->
                                            
                                            <td><a th:href="@{'/iws/manager/user/update/'+${user.username}}" ><button>编辑</button></a>|<a th:href="@{'/iws/manager/user/delete/'+${user.username}}"><button>删除</button></a></td>
                                            
                                        </tr>
                                        
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
<!--  
                    <ul>

                        <li>
                            <a href="#">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                               Blog
                            </a>
                        </li>
                        <li>
                            <a href="#/license">
                                Licenses
                            </a>
                        </li>
                    </ul>
-->
                </nav>
				<div class="copyright pull-right">
				智能仓库管理系统  iws  大连理工大学 王佳华
<!--  				
                    Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
-->
                </div>
            </div>
        </footer>


    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="js/bootstrap-checkbox-radio.js"></script>

	<!--  Charts Plugin -->
	<script src="js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <!---<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>--->

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
	<script src="js/paper-dashboard.js"></script>

	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script src="js/demo.js"></script>


</html>
