<!DOCTYPE html>
<html>
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>重置密码</title>
 </head>
<body>
<div class="text" style=" text-align:center;">
  <form action="forgetpassword/resetpassword" method="post">
    username: <input type="text" name = "username" ><p> 
    verification: <input type="text" name = "verification" ><p>
    password:<input type="password" name = "password" ><p>
    <input type="submit" value="修改"> 
  </form>
</div>
</body>
</html>