<!DOCTYPE HTML>
<html lang="zh-CN" 
                   xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>密码重置</title>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<!-- -->

<script src="js/jquery.min.js"></script>
<script th:inline="javascript"> 
    var message = [[${message}]];
    if(message){
    	alert(message+"reset")
    }
    
</script>
</head>
<body>
<!-- contact-form -->	
<div class="message warning">
<div class="inset">
	<div class="login-head">
		<h1>密码重置</h1>
		<!-- 
		 <div class="alert-close"> </div> 		
		  -->	
	</div>
		<form action="/login/resetpassword" method="post">
			
				<input type="text" class="text" name="username" value="用户名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '用户名';}">
			
				<div class="clear"> </div>
			
				<input type="text" name="verification" value="验证码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '验证码';}"> 
			
			     <div class="clear"> </div> 
			     
			     <input type="password" name="password" value="新密码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '新密码';}"> 
			
			    <div class="clear"> </div>
			<div class="submit">
				<input type="submit"  value="更改密码" >
				  <div class="clear"> </div> 
						 
			</div>
				
		</form>
		</div>					
	</div>
	
	<div class="clear"> </div>

<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' type='text/javascript' charset='gb2312'></script></div>
</body>
</html>